services:
  auth:
    build:
      context: .
      dockerfile: apps/auth/Dockerfile
    ports:
      - "38200:38200"
    volumes:
      - ./apps/auth/.dev.vars:/app/apps/auth/.dev.vars:ro

  that-me:
    build:
      context: .
      dockerfile: apps/that-me/Dockerfile
    ports:
      - "38100:38100"
    volumes:
      - ./apps/that-me/.dev.vars:/app/apps/that-me/.dev.vars:ro
      - ./apps/that-me/src:/app/apps/that-me/src
      - ./apps/that-me/static:/app/apps/that-me/static
      - ./apps/that-me/migrations:/app/apps/that-me/migrations
      - ./apps/that-me/.wrangler/state:/app/apps/that-me/.wrangler/state
    depends_on:
      - auth
